<div class="flex justify-center w-[20%] h-screen p-4">
    <div class="flex flex-col w-full bg-gray-50 rounded-xl shadow-lg">
        <div class="flex justify-center items-center w-full px-4 py-8 space-x-2">
            <img src="/images/aigen.svg" alt="img">
            <h1 class="text-[24px] font-bold uppercase">Aigen Bootcamp</h1>
        </div>
        <div class="flex flex-col w-full h-[70%] p-4 space-y-4">
            <a href="/admin-dashboard"
                class="px-4 py-2 rounded-md text-md font-medium border-b ease-in duration-300 hover:pl-8 w-full">Student
                Data</a>
            <a href="#"
                class="px-4 py-2 rounded-md text-md font-medium border-b ease-in duration-300 hover:pl-8 w-full">Mentor</a>
            <a href="#"
                class="px-4 py-2 rounded-md text-md font-medium border-b ease-in duration-300 hover:pl-8 w-full">Scores</a>
            <a href="#"
                class="px-4 py-2 rounded-md text-md font-medium border-b ease-in duration-300 hover:pl-8 w-full">Schedule</a>
        </div>
        <div class="flex justify-center items-center w-full p-4">
            <h1 class="text-xs font-semibold text-muted">© Copyright 2023 Heart Of Hope</h1>
        </div>
    </div>
</div>