<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <title>Student - Mathematics</title>
</head>

<body class="bg-[#0082E3] max-w-screen max-h-screen font-inter bg-cover"
    style="background-image: url(/images/wave.svg); ">
    <div class="flex justify-center w-full h-full">
        <%- include("../partials/studentSidebar") %>

            <div class="flex flex-col justify-center w-[80%] h-screen">
                <%- include("../partials/studentNavbar") %>

                    <div class="flex justify-center w-full h-[85%] p-4">
                        <div class="flex flex-col w-full bg-gray-50 rounded-xl shadow-lg">
                            <div class="flex justify-between w-full border-b-2 px-8 py-4">
                                <h1 class="text-gray-700 font-bold text-xl">Mathematics</h1>
                            </div>
                            <div
                                class="flex flex-col justify-center items-center px-8 py-4 overflow-y-auto w-full h-full">
                                <h1 class="text-5xl font-bold">Wellcome to Math class</h1>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</body>

</html>